# Tools for Data science and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives of this notebook :__
- Create a new brand conda environment and notebook.
- Rename the notebook.
- Insert markdown cells.
- Use tables in markdown cells.
- list many language for data science.
- list many libraries for data science.
- explore arthimatic opreations in Python.

##### Some of the popular languages that Data Scientists use are:
* Python
* R
* Java
* Scala
* SQL

##### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlip
4. TenserFlow
5. Scikit_Learn

| Data Science Tools |
 :-
Jupyter Notebooks 
R Studio
Zeppelin Notebooks

### Below are a few examples of evaluating arithmetic expressions in Python
- 2+1
- 3*18
- 44-14

In [2]:
# This a simple arithmetic expression to mutiply then add integers
arthimaticOp = (3*4)+5

In [3]:
print (arthimaticOp)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60

In [5]:
print(hours)

3.3333333333333335

# Author : 
**Mohab**